.main-container {
	width: 85%;
	height: 100vh;
	margin-top: 2rem;
	background-image: url('../../assets/bgImage.png');
	.item-list-box {
		display: flex;
		flex-flow: wrap;
		.restaurent-item {
			display: flex;
			align-items: center;
			align-content: flex-start;
			padding: 10px;
			color: #fff;
			margin-left: 15px;
			margin-top: 15px;
			margin-right: 15px;
			justify-content: space-around;
			flex-grow: 0;
			width: 8rem;
			height: 5.8rem;
			border-radius: 8px;
		}
		.available-items {
			background-color: #00cc66;
		}
		.unavailable-items {
			background-color: #e63900;
		}
	}
}
