.header-box {
	display: flex;
	flex-direction: row;
	width: 100%;
	background-color: #f2b90d;
	align-items: center;
	position: fixed;
	z-index: 2;
	top: 0;
	.back-arrow {
		width: 20%;
		padding-left: 20px;
	}
	.search-box-container {
		display: flex;
		align-items: center;
		width: 40%;
		.search-box {
			display: flex;
			align-items: center;
			background-color: #ffd24d;
			width: 100%;
			.input {
				background-color: #ffd24d;
				outline: 0;
				border: 0;
				padding: 17px;
				width: 100%;
			}
		}
	}
}
